@charset "UTF-8";
*{
    margin: 0%;
    padding: 0%;
}

html, body{
    width: 100vw;
    height: 100vh;
    background-color: black;
}

body{
    background: url(imagens/fundo-madeira.jpg) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

main{
    position: relative;
    height: 100vh;
}

section#telefone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 627px;
    width: 311px;
    background-color: blueviolet;
    background: url(imagens/frame-iphone.png);
}

#tela{
    position: relative;
    top: 80px;
    left: 22px;
    height: 471px;
    width: 269px;
}
#redes img{
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.384);
    box-sizing: border-box;
}
#redes{
    flex-direction: column;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items:flex-start;
}
#redes img:hover{
    border: 2px solid rgba(255, 255, 255, 0.65);
    transform: translate(-2px, -2px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.558);
    transition:  0.5s, border 1s;
}